body {
    width: 100%;
    display: grid;
    grid-template-rows: 100px minmax(calc(100vh - 190px), 1fr) 50px;
}
header {
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: crimson;
    position: relative;
    bottom: 10px;
}
header img {
    width: 300px;
    height: 100px;
}
.logo {
    width: 100%;
    position: relative;
    left: -10px;
}

.nav-bar {
    font-size: large;
    margin: 30px 0 0 280px;
}
.nav-bar a{
    text-decoration: none;
    color: #fff;
    background: transparent;
    padding: 15px 40px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    border: 1px solid #fff ;
    margin: 0px 10px;
    position: relative;
    top: 10px;
}
.nav-bar a:hover {
    box-shadow: 0 0 3px #ffe205, 0 0 7px #ffe205, 
        0 0 50px #edd205; 
}
main{
    width: 100%;
}
.slide-frame {
    overflow: hidden;
    height: 800px;
    width: 1200px;
    /* margin-left: 360px; */
    /* margin: 20px; */
    margin: 20px auto;

}

/* slide animation */
@-webkit-keyframes slide_animation {
    0%{left: 0px;}
    10%{left: 0px;}
    20%{left: 1200px;}
    30%{left: 1200px;}
    40%{left: 2400px;}
    50%{left: 2400px;}
    60%{left: 1200px;}
    70%{left: 1200px;}
    80%{left: 0px;}
    90%{left: 0px;}
    100%{left: 0px;}
}

.slide-img {
   width: 100vw;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container {
    width: 1200px;
    height: 800px;
    position: relative;
    float: left;
}

.description {
    width: 100%;
    /* margin:20px 300px 20px 50px; */
}
.description p{
    text-indent: 50px;
    line-height: 1.5;
    padding: 20px 170px;
}
.img-service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 140px;
}

.img-service .wrranty img {
    width: 120px;
    padding-left: 50px;
}
.img-service .wrranty h3 {
    color: crimson;
   padding-left: 80px;
}

.img-service .wrranty p {
    padding-left: 10px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.img-service .payment img {
    width: 120px;
    padding-left: 50px;
}
.img-service .payment h3 {
    color: crimson;
   padding-left: 90px;
}

.img-service .payment p {
    padding-left: 10px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.img-service .certified img {
    width: 120px;
    padding-left: 50px;
}
.img-service .certified h3 {
    color: crimson;
   padding-left: 80px;
}

.img-service .certified p {
    padding-left: 70px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* margin-top: 90px; */
    padding-left: 120px;
  }
  footer {
    background-color: #536162;
    color: #FEA82F;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
  }
  .social-icon {
    width: 100%;
    margin: 10px;
    /* padding: auto; */
  }
  .social-icon a {
    color: #FEA82F;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    align-items: center;
  }
  .terms {
    width: 100%;
    margin: 10px;
  }
  .terms a {
    color: #FEA82F;
    display: inline;
    text-decoration: none;
    padding: 5px;
  }
.separator {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.separator .line {
    height: 1px;
    flex: 1;
    background-color: #999;
    width: 20px;
}

.separator h2 {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    margin: auto;
    margin-bottom: 30px;
}

.upcoming{
    position: relative;
    left: 80px;
    margin-bottom: 10px;
}

.upcoming img{
    border-radius: 50%;
}
.upcoming p{
position: relative;
left: 55px;
font-size: 20px;
}

#car3{
    position: relative;
    margin-left: 30px;


}

.upcoming {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    

}

.buttonOne{
   position: relative;
   left: 520px;
   background-color: crimson;
   border-radius: 8px;
   height: 25px;
   transition-duration: 0.4s
}
.buttonTwo{
    position: relative;
   left: 650px;
    background-color: crimson;
    border-radius: 8px;
    height: 27px;
    transition-duration: 0.4s
 }

 .buttonOne:hover{
    background-color: #4CAF50; 
    color: white;
 }


 .buttonTwo:hover{
    background-color: #4CAF50; 
    color: white;
 }


 html {
    overflow-x: hidden;
}
