body {
    width: 100%;
    display: grid;
    grid-template-rows: 100px 1fr 150px;
}
header {
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: crimson;
}
header img {
    width: 200px;
    height: 200px;
}
.logo {
    width: 100%;
    margin: -40px;
    margin-left: 30px;
}

.nav-bar {
    font-size: large;
    margin: 30px 0 0 280px;
}
.nav-bar a{
    text-decoration: none;
    color: #fff;
    background: transparent;
    padding: 15px 40px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    border: 1px solid #fff ;
    margin: 0 10px;
}
.nav-bar a:hover {
    box-shadow: 0 0 3px #ffe205, 0 0 7px #ffe205, 
        0 0 20px #edd205;
}
main{
    width: 100%;
}
.slide-frame {
    overflow: hidden;
    height: 800px;
    width: 1200px;
    /* margin-left: 360px; */
    /* margin: 20px; */
    margin: 20px auto;

}

/* slide animation */
@-webkit-keyframes slide_animation {
    0%{left: 0px;}
    10%{left: 0px;}
    20%{left: 1200px;}
    30%{left: 1200px;}
    40%{left: 2400px;}
    50%{left: 2400px;}
    60%{left: 1200px;}
    70%{left: 1200px;}
    80%{left: 0px;}
    90%{left: 0px;}
    100%{left: 0px;}
}

.slide-img {
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container {
    width: 1200px;
    height: 800px;
    position: relative;
    float: left;
}

.description {
    width: 100%;
    /* margin:20px 300px 20px 50px; */
}
.description p{
    text-indent: 50px;
    line-height: 1.5;
    padding: 20px 170px;
}
.img-service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 140px;
}

.img-service .wrranty img {
    width: 120px;
    padding-left: 50px;
}
.img-service .wrranty h3 {
    color: darkblue;
   padding-left: 80px;
}

.img-service .wrranty p {
    padding-left: 10px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
    color: plum;
}

.img-service .payment img {
    width: 120px;
    padding-left: 50px;
}
.img-service .payment h3 {
    color: darkblue;
   padding-left: 90px;
}

.img-service .payment p {
    padding-left: 10px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
    color: yellowgreen;
}

.img-service .certified img {
    width: 120px;
    padding-left: 50px;
}
.img-service .certified h3 {
    color: darkblue;
   padding-left: 80px;
}

.img-service .certified p {
    padding-left: 70px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
    color: yellow;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 90px;
    padding-left: 120px;
}

.social-icon {
    width: 100%;
    margin: 10px;
    /* padding: auto; */
}
.social-icon a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    align-items: center;
}
.terms {
    width: 100%;
    margin: 10px;
}
.terms a {
    display: inline;
    text-decoration: none;
    padding: 5px;
}