@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #e1e1e1;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px minmax(calc(100vh - 190px), 1fr) 50px;
}

header {
  background: #142850;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  z-index: 11;
}
  header img {
    width: 300px;
    height: 100px;
  }
  .logo {
    width: 100%;
    position: relative;
    left: -10px;
  }

header nav {
  margin-right: 40px;
  text-align: right;
}


header nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  transition: all 550ms;
}

header nav a:hover {
  background: #fff;
  color: #2f5d62;
  position: relative;
}

header nav a:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  background: #ffb037;
}

main{
  background-image: url('https://wallpaperaccess.com/full/11207.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

#main {
  margin-top: -20px;
  margin-bottom: -20px;
  background: #e1e1e1;
  display: grid;
  gap: 20px;
  margin: 35px;
  padding: 15px;
  background-color: rgba(30,30,30,0.5);
  border-radius: 10px;
}

#main h2 {
  color: #126e82;
  font-family: 'Trocchi', serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin-bottom: -25px;
}

#main > section:nth-of-type(1) {
  background: #fff;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 2;
  background: transparent;
}

#main > section:nth-of-type(1) h3 {
  color: rgb(225,212,15);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  grid-column: span 3;
  border-bottom: 1px solid rgba(225,225,225,.5);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#main > section:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

#main > section:nth-of-type(2) article:nth-of-type(1) {
  grid-column: span 2;
}

#main > section:nth-of-type(2) article:nth-of-type(1) form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 10px;
  background: transparent;
}

#main > section:nth-of-type(2) article:nth-of-type(1) input {
  height: 50px;
  padding-left: 10px;
  text-transform: capitalize;
  border: 1px solid #ccc;
  background: transparent;
  font-family: inherit;
  font-size: 1.3rem;
  color: #eee;
}

#main > section:nth-of-type(2) article:nth-of-type(1) textarea {
  grid-column: span 2;
  border: 1px solid #ccc;
  text-transform: capitalize;
  padding: 10px;
  background: transparent;
}

::placeholder{
  color: #eee;
  font-size: 15px;
}

#main > section:nth-of-type(2) article:nth-of-type(1) button {
  grid-column: 2 / 3;
  height: 40px;
  border: none;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  transition: all 500ms;
  cursor: pointer;
  border: 2px solid #008CBA;
}

#main > section:nth-of-type(2) article:nth-of-type(1) button:hover {
  /* background: rgb(79, 91, 255);
  color: #fff; */
  background-color: #008CBA;
  color: white;
}

#main > section:nth-of-type(2) article:nth-of-type(2) {
  overflow: hidden;
  grid-column: span 1;
  object-fit: cover;
}

#main > section:nth-of-type(2) article:nth-of-type(2) {
  object-fit: cover;

}

main article p {

  font-family: inherit;
    width: 50%;
    border: 0;
    border-bottom: 2px solid #eee;
    outline: 0;
    font-size: 1.3rem;
    color: #eee;
}



.mapouter {
  position: relative;
  text-align: right;
  height: 375px;
  width: 400px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 375px;
  width: 400px;
}

footer {
  height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: -10px;
  margin-left: -10px;
  padding-left: 120px;
}
  
  footer {
    background-color: #005082;
    color: #fea82f;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
  .social-icon {
    width: 100%;
    margin: 10px;
    /* padding: auto; */
}
  .social-icon a {
    color: #fea82f;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    align-items: center;
}
  .terms {
    width: 100%;
    margin: 10px;
}
  .terms a {
    color: #fea82f;
    display: inline;
    text-decoration: none;
    padding: 5px;
}
