@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    overflow-x: hidden;
}
body {
    width: 100%;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee
    
}
/* .card{
    display: grid;
   
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 30px;
} */
header {
    background: #142850;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    z-index: 11;
}
    header img {
      width: 300px;
      height: 100px;
}
    .logo {
      width: 100%;
      position: relative;
      left: -10px;
}
  
  header nav {
    margin-right: 40px;
    text-align: right;
}
  
  
  header nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #f4eee8;
    padding: 10px 20px;
    transition: all 550ms;
}
  
  header nav a:hover {
    background: #fff;
    color: #2f5d62;
    position: relative;
}
  
  header nav a:hover::after {
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    position: absolute;
    background: #ffb037;
}


main{
    margin: auto;
    margin-top: 30px;
}

/* main section input{

    margin: 15px;
} */
main .available-rent-car{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 50px;

}
main .car-rent img{
    width: 300px;
    height: 300px;
}
main .available-rent-car {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 300px; */
    margin: auto;
    text-align: center;
    font-family: arial;

 }

main .available-rent-car button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}

/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
} */

/* .card button:hover {
  opacity: 0.7;
} */
/* main section .card {
    display: grid;
    grid-template-columns: 1fr ;

} */










/* 
main section .card{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    margin-bottom: 10px;
   
} */
/* 
main section .card{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    */
/* } */

main section .card img {

    width: 300px;
    height: 300px;
    
    
}

main section button{
    width: 3%;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
}

main section button:hover {
    opacity: 0.7;
    
}
/* 
.title{

  position: relative;
    right: -7.5px;
    top: 0;
    width: 180px;
    height: 40px;
    border: none;
    display: block;
    background: crimson;
   
    transform: scaleX(1) scaleY(1) scaleZ(1) skewX(
-20deg
);
    
    transform-origin: 50% 50%;
    
    
}

.titlenum{

    position: relative;
    right: 0;
    top: 0;
    width: 180px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    transform: none;
    z-index: 10;
} */



  
/*******************Footer*****************************/


footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* margin-top: 90px; */
    padding-left: 120px;
    
  }
  footer {
    background-color: #005082;
    color: #FEA82F;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    position: relative;
    bottom: -38px;
  }
  .social-icon {
    width: 100%;
    margin: 10px;
    /* padding: auto; */
  }
  .social-icon a {
    color: #FEA82F;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    align-items: center;
  }
  .terms {
    width: 100%;
    margin: 10px;
  }
  .terms a {
    color: #FEA82F;
    display: inline;
    text-decoration: none;
    padding: 5px;
  }
  


  