@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #e1e1e1;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px minmax(calc(100vh - 190px), 1fr) 50px;
  gap: 20px;
}
header {
  background: #142850;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  z-index: 11;
}
  header img {
    width: 300px;
    height: 100px;
}
  .logo {
    width: 100%;
    position: relative;
    left: -10px;
}

header nav {
  margin-right: 40px;
  text-align: right;
}


header nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #f4eee8;
  padding: 10px 20px;
  transition: all 550ms;
}

header nav a:hover {
  background: #fff;
  color: #2f5d62;
  position: relative;
}

header nav a:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  background: #ffb037;
}header {
    background: #142850;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    z-index: 11;
}
    header img {
      width: 300px;
      height: 100px;
}
    .logo {
      width: 100%;
      position: relative;
      left: -10px;
}
  
  header nav {
    margin-right: 40px;
    text-align: right;
}
  
  
  header nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #f4eee8;
    padding: 10px 20px;
    transition: all 550ms;
}
  
  header nav a:hover {
    background: #fff;
    color: #2f5d62;
    position: relative;
}
  
  header nav a:hover::after {
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    position: absolute;
    background: #ffb037;
}
main {
  background:#e1e1e1;
  display: grid;
  gap: 20px;
  padding: 50px;
}
main h2 {
  font-size: 32px;
  font-weight: 700;
}
main > section:nth-of-type(1) {
  background: #fff;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 2;
}
main > section:nth-of-type(1) h3 {
  font-size: 22px;
  font-weight: 700;
  grid-column: span 3;
  border-bottom: 1px solid rgba(225,225,225,.5);
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* main > section:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
} */
main > section:nth-of-type(2) article:nth-of-type(1) {
  grid-column: span 2;
}
main > section:nth-of-type(2) article:nth-of-type(1) form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 10px;
}
main > section:nth-of-type(2) article:nth-of-type(1) input {
  height: 50px;
  padding-left: 10px;
  text-transform: capitalize;
  border: 1px solid #ccc;
}
main > section:nth-of-type(2) article:nth-of-type(1) textarea {
  grid-column: span 2;
  border: 1px solid #ccc;
  text-transform: capitalize;
  padding: 10px;
}
main > section:nth-of-type(2) article:nth-of-type(1) button {
  grid-column: 2 / 3;
  height: 40px;
  border: none;
  background: rgba(47,93,98,0.8);
  color: #fff;
  text-transform: uppercase;
  transition: all 500ms;
  cursor: pointer;
}
main > section:nth-of-type(2) article:nth-of-type(1) button:hover {
  background: rgba(47,93,98,1);
  color: #fff;
}
main > section:nth-of-type(2) article:nth-of-type(2) {
  overflow: hidden;
  grid-column: span 1;
  object-fit: cover;
}
main > section:nth-of-type(2) article:nth-of-type(2) {
  object-fit: cover;
}
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  /* margin-top: 90px; */
  padding-left: 120px;
}
footer {
  background-color: #005082;
  color: #FEA82F;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.social-icon {
  width: 100%;
  margin: 10px;
  /* padding: auto; */
}
.social-icon a {
  color: #FEA82F;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  align-items: center;
}
.terms {
  width: 100%;
  margin: 10px;
}
.terms a {
  color: #FEA82F;
  display: inline;
  text-decoration: none;
  padding: 5px;
}

#subButton{

  background: #005082;
    color: #fff;
}


#subButton:hover{

  background: rgba(47,93,98,1);
  color: #fff;
}