@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Work+Sans&display=swap');
body {
    width: 100%;
    display: grid;
    grid-template-rows: 100px minmax(calc(100vh - 190px), 1fr) 50px;
    background-color:#e1e1e1;
}
header {
    background: #142850;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    z-index: 11;
    position: relative;
    top: -10px;
}
    header img {
      width: 300px;
      height: 100px;
}
    .logo {
      width: 100%;
      position: relative;
      left: -10px;
}
  
  header nav {
    margin-right: 40px;
    text-align: right;
}
  
  
  header nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #f4eee8;
    padding: 10px 20px;
    transition: all 550ms;
}
  
  header nav a:hover {
    background: #fff;
    color: #2f5d62;
    position: relative;
}
  
  header nav a:hover::after {
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    position: absolute;
    background: #ffb037;
}
  
  
main{
    width: 100%;
}
/* main h2{
  font-family: 'Original Surfer', cursive;

}
.slide-frame {
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin: 10px auto;

} */

/* slide animation */

/* @-webkit-keyframes slide_animation {
    0%{left: 0px;}
    10%{left: 0px;}
    20%{left: 1200px;}
    30%{left: 1200px;}
    40%{left: 2400px;}
    50%{left: 2400px;}
    60%{left: 1200px;}
    70%{left: 1200px;}
    80%{left: 0px;}
    90%{left: 0px;}
    100%{left: 0px;}
}

.slide-img {
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}*/

.ppHero {
  width: 100%;
  margin: -10px;
}

/* .img-container {
    width: 1200px;
    height: 800px;
    position: relative;
    float: left;
}  */

.slideshow {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  margin-left: -8px;
  margin-top: -10px;
  margin-right: -12px;
}

.slideshowItem {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: cycleImages 30s infinite;
}

.slideshowItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 30s infinite;
}

.slideshowItem:nth-child(1),
.slideshowItem:nth-child(1) img {
  animation-delay: 0s;
}

.slideshowItem:nth-child(2),
.slideshowItem:nth-child(2) img {
  animation-delay: 5s;
}

.slideshowItem:nth-child(3),
.slideshowItem:nth-child(3) img {
  animation-delay: 10s;
}

.slideshowItem:nth-child(4),
.slideshowItem:nth-child(4) img {
  animation-delay: 15s;
}

.slideshow-item-text {
  max-width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(0 0 0 / 85%);
  color: #fff;
  padding: 2rem 3rem;
}

.slideshow-item-text h3 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 2.5rem;
  font-weight: 800;
  margin-top: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slideshow-item-text p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
}

@keyframes cycleImages {
  25% {
      opacity: 1;
  }
  40% {
      opacity: .8;
  }
}

@keyframes zoom {
  100% {
      transform: scale(1.2);
  }
}

.description {
    width: 100%;
    /* margin:20px 300px 20px 50px; */
}
.description p{
    line-height: 1.6;
    padding: 20px 170px;
}
.description h3{
position: relative;
left: 170px;
bottom: -20px;

}
.img-service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 140px;
}

.img-service .wrranty img {
    width: 120px;
    padding-left: 50px;
}
.img-service .wrranty h3 {
    color: darkblue;
   padding-left: 80px;
   font-family: 'Work Sans', sans-serif;
}

.img-service .wrranty p {
    padding-left: 10px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: 'Work Sans', sans-serif;
    position: relative;
    left: -20px;
}

.img-service .payment img {
    width: 120px;
    padding-left: 50px;
}
.img-service .payment h3 {
    color: darkblue;
   padding-left: 90px;
   font-family: 'Work Sans', sans-serif;
}

.img-service .payment p {
    padding-left: 10px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: 'Work Sans', sans-serif;
}

.img-service .certified img {
    width: 120px;
    padding-left: 50px;
}
.img-service .certified h3 {
    color:darkblue;
   padding-left: 80px;
   font-family: 'Work Sans', sans-serif;
}

.img-service .certified p {
    padding-left: 70px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: 'Work Sans', sans-serif;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: -10px;
    margin-left: -10px;
    padding-left: 120px;
  }
  
  footer {
    background-color: #005082;
    color: #fea82f;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
  }
  .social-icon {
    width: 100%;
    margin: 10px;
    /* padding: auto; */
  }
  .social-icon a {
    color: #fea82f;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    align-items: center;
  }
  .terms {
    width: 100%;
    margin: 10px;
  }
  .terms a {
    color: #fea82f;
    display: inline;
    text-decoration: none;
    padding: 5px;
  }
  .separator {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.separator .line {
    height: 1px;
    flex: 1;
    background-color: #999;
    width: 20px;
}

.separator h2 {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    margin: auto;
    margin-bottom: 30px;
}

.upcoming{
    position: relative;
    left: 80px;
    margin-bottom: 10px;
}

.upcoming img{
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,1), inset 0 2px 1px rgba(255,255,255,.5), inset 0 -9px 2px rgba(0,0,0,.6), inset 0 -12px 2px rgba(255,255,255,.3);
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,1), inset 0 2px 1px rgba(255,255,255,.5), inset 0 -9px 2px rgba(0,0,0,.6), inset 0 -12px 2px rgba(255,255,255,.3);
	box-shadow: inset 0 0 4px rgba(0,0,0,1), inset 0 2px 1px rgba(255,255,255,.5), inset 0 -9px 2px rgba(0,0,0,.6), inset 0 -12px 2px rgba(255,255,255,.3);

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.upcoming p{
position: relative;
left: 20px;
font-size: 20px;
font-family: 'Work Sans', sans-serif;
}

#car3{
    position: relative;
    margin-left: 60px;


}

.upcoming {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    

}

.buttonOne{
    position: relative;
    left: 450px;
    border: 1px solid green;
	transform: skewX(-10deg);
	height: 50px;
	width: 200px;
	border-radius: 20px 5px 20px 0px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s ease;
	font: 15px sans-serif;
	font-weight: 300;
	text-shadow: 0 0 20px #fff;
	text-transform: uppercase;
	
}
.buttonTwo{
  position: relative;
  left: 850px;
  bottom: 50px;
  border: 1px solid green;
	transform: skewX(-10deg);
	height: 50px;
	width: 200px;
	border-radius: 20px 5px 20px 0px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s ease;
	font: 15px sans-serif;
	font-weight: 300;
	text-shadow: 0 0 20px #fff;
	text-transform: uppercase; 
	
    
 }

 .buttonOne:hover{
    background-color: #4CAF50; 
    color: white;
 }


 .buttonTwo:hover{
    background-color: #4CAF50; 
    color: white;
 }


 html {
    overflow-x: hidden;
}

/* .slideshow-text{
  max-width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(0 0 0 / 85%);
  color: #fff;
  padding: 2rem 3rem;
} */

/* .slideshow-text h2 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2.5rem;
  font-weight: 800;
  font-family: 'Texturina', serif;
  margin-top: 10px;
} */